<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ella Lee">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <title>SNS NOTIFICATION</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/search-bar.css" rel="stylesheet">
    <link href="/css/posts/table-header.css" rel="stylesheet">
</head>

<body>

<header id="header">
    Header 삽입부
    <hr>
</header>

<main class="container bg-dark">
    <div class="row card p-2 mx-1 bg-light" style="height: -webkit-fill-available; overflow-y: scroll;">
        <ul id="post-list" class="card-body">
            <li class="mb-2 feed-list">
                <div class="d-flex">
                    <div class="card card-body custom-card">
                        <a class="notificationLink post-title-content text-reset" href="#">
                            <b class="occurUser">유저</b>
                            <span>님이</span>
                            <b class="notificationString">새 ㅇㅇ을 남겼습니다.</b>
                            <div class="created-at initialism"><time>2024-01-01</time></div>
                        </a>
                        <div class="d-flex hashtagDiv">
                            <a class="text-reset hashtagLink">
                                <span class="badge text-bg-secondary mx-1 hashtag"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</main>

<footer id="footer">
    <hr>
    Footer 삽입부
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script> <!--날짜 포맷-->
</body>
</html>