html {
    display: flex;
    justify-content: center;
}
body {
    width: 40%;
    overflow: hidden;
}
main {
    overflow-y: scroll;
    height : 75vh;
}
.iconBtn img{
    width: 35px;
    height: auto;
}
.iconSmallBtn img {
    width: 30px;
    height: auto;
}
ul {
    list-style:none;
    margin-bottom: auto; !important;
}
.custom-card {
    /*background-color: lightgray; !important;*/
    box-shadow: inset 0 0 5px; !important;
    border: 0; !important;
    /*background: radial-gradient(white, grey);*/
}
.post-title-content {
    text-decoration: none;
}
.badge {
    width: fit-content;
}
