<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Footer template</title>
</head>
<body>
    <footer class="container bg-dark py-3">
        <div class="d-flex flex-wrap justify-content-center align-items-center">
            <div class="d-flex flex-wrap justify-content-between align-items-center col-10 text-center">
                <a role="button" id="footerFeedBtn" class="iconBtn">
                    <img alt="Feed Page" src="/images/icon-home.png">
                </a>
                <a role="button" id="footerHashtagBtn" class="iconBtn">
                    <img alt="Hashtag Page" src="/images/icon-search.png">
                </a>
                <a role="button" id="footerAddBtn" class="iconBtn">
                    <img alt="Add Page" src="/images/icon-add.png">
                </a>
                <a role="button" id="footerNotificationBtn" class="iconBtn">
                    <img alt="Kakao Login" src="/images/icon-like.png">
                </a>
                <a role="button" id="footerMyFeedBtn" class="iconBtn">
                    <img alt="Kakao Login" src="/images/icon-user.png">
                </a>
            </div>
        </div>

        <p class="col-md-4 mb-0 text-secondary mt-3">&copy; 2024 Ella, Inc</p>
    </footer>
</body>
</html>