<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <div class="col-2">
                SNS
            </div>
            <div class="col-10 text-end ">
                <span id="username" class="text-white me-2">username</span>
                <a role="button" id="login" class="btn btn-outline-light me-2">Login</a>
                <a role="button" id="kakao-login" class="me-2 text-dark">
                    <img alt="Kakao Login" src="/images/kakao_login_medium.png">
                </a>
                <a role="button" id="logout" class="btn btn-outline-light me-2">Logout</a>
                <a role="button" id="dmBtn" class="iconBtn">
                    <img alt="DM Page" src="/images/icon-chat.png">
                </a>
            </div>
        </div>
    </div>
</header>
</body>
</html>
